HOST_AGENT_API_KEY=
HOST_AGENT_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
HOST_AGENT_MODEL=qwen-plus
HOST_AGENT_MAX_TURNS=6
HOST_AGENT_MAX_TOOL_CALLS=8
HOST_AGENT_TOOL_TIMEOUT_SECONDS=5
HOST_AGENT_TIMEOUT_SECONDS=30
